
  						<h2 class="text-center h">Our Purpose And Values</h2>
<section id="about">
			<div class="view">

				<%= image_tag "ffff.jpg", class: "bg" %>
				<div class="content pane">
					<div class="container-fluid">
						<div class="row hidden-xs hidden-sm">
							<div class="col-md-4 colors-b">
								<div class="row">
									<div class="col-xs-12 banner-cell">
										<h3 class="light-font-weight">Open to Ideas</h3>

									</div>
									<div class="col-xs-12 success heading-b banner-cell">
								The thought process that goes into our work is vital;
                we are constantly in search of the next big idea one that is compelling enough -
                to reinvent opportunities that ensure we achieve our set goals and serve as a precursor for
                future performance milestones.

									</div>
								</div>
							</div>
							<div class="col-md-4 colors-c">
								<div class="row">
									<div class="col-xs-12 banner-cell">
										<h3 class="light-font-weight">Open to Innovation</h3>

									</div>
									<div class="col-xs-12 warning heading-c banner-cell">
										We continue to stretch our imagination to develop ground-breaking work, maximize our operational capacity, forging into virgin terrain And Viewing more strategic plans and ideas to make th terrain better
									</div>
								</div>
							</div>
							<div class="col-md-4 colors-d">
								<div class="row">
									<div class="col-xs-12 banner-cell">
										<h3 class="light-font-weight">Open to Opportunties</h3>

									</div>
									<div class="col-xs-12 info heading-d banner-cell">
										We remain focused on exceptionally meeting the needs of our consumers and welcome new ventures that are strategic fits to our purpose. Thereby insuring our customer happiness and general well being
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="view">

				<div class="content colors-e">
					<div class="container">
						<h2 class="h">Creed And Culture </h2><br>
						<p class="header-details"><span class="highlight">At Sahara, we operate in an environment where individuals are not only encouraged to strive for excellence in their work, but to also enjoy the experience. This is founded on the premise that we produce our best work in a setting that promotes creativity and allows individuals express themselves.

</span></p>
						<p class="lead">We <span class="highlight">believe </span> that each individual in the Sahara family adds to the cultural tapestry that makes us the eclectic, yet cohesive

            entity that we are. Our strength as an organization lies in our individuality and diversity.

            At Sahara, we do not rest on our laurels, rather we are relentlessly re-examining our strengths and processes to attain our vision of being the "provider of choice wherever energy is consumed".</p>
						<div class="row">
							<div class="col-md-4">
								<div class="col-icon">
									<i class="li_bulb"></i>
								</div>
								<div class="col-content">
									<h4>Our <span class="highlight">Vision</span></h4>
									<p>To be the provider of choice wherever energy is consumed.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-icon">
									<i class="li_t-shirt"></i>
								</div>
								<div class="col-content">
									<h4>Our <span class="highlight">Mision</span></h4>
									<p>We transform; through creativity, determination and
relationship building<br>
We will continually seek ways to generate value<br>
We will go the extra distance in the pursuit of value<br>
We will turn the mundane into the extraordinary<br>.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-icon">
									<i class="li_megaphone"></i>
								</div>
								<div class="col-content">
									<h4>Our <span class="highlight">Core Values</span></h4>
									<p>To stay focused on our vision
To maintain Integrity in our dealings<br>
Pursue our objectives with endless determination<br>
Encourage loyalty as the foundation of excellence<br>
Discipline in the pursuit of our mission</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</section>



<div class="colors-g" >

                						<div class="row">
                							<div class="col-md-6 pane">
                									<%= image_tag "gb.jpg", class: "img-responsive" %>


                							</div>
                							<div class="col-md-6 pane">

                									<div class="content incut colors-e background-solid">
                										<div class="position-middle-center">
                											<h3 class="text-left"><span class="highlight">Who</span> We Are</h3>
                											<p class="subtitle highlight"><strong>.</strong></p>
                											<p>The first Sahara Group Company - Sahara Energy Resource Ltd (SERL) started in 1996 with the objective of developing, facilitating and implementing seamless and sustainable business processes between oil producers, oil marketers and oil traders, first in Nigeria and then worldwide..</p>
                                      <p><a href="" class="button background-60-d heading-d" > View History </a>

                                    </div>
                									</div>
                								</div>
                							</div>
</div>




<section id="services">
			<div class="view">
				<img alt class="bg" src="images/bg/pexels/coffee-coffee-machine-cup-3042.jpg" /><img alt class="bg" src="images/bg/pexels/coffee-coffee-machine-cup-3042.jpg" />
				<div class="content colors-e">
					<div class="container">
						<h2>CORPORATE GOVERNANCE</h2>
						<p class="header-details"><span class="highlight">We Are Here</span> For You</p>
						<p class="lead">The Sahara Group developed its corporate governance and business principles in order to deliver outstanding performance over the long term. This can only be achieved where everyone conforms to a set of high standards and sustainable shared values. At Sahara, we strongly uphold our corporate values and passionately conduct our business in a highly ethical manner that promotes free enterprise, excellence and competitiveness..</p>
						<div class="row">
							<div class="col-md-3 top-line">
								<h4>Our <br />Peoplw</h4>
								<p class="highlight">High Value For Our People.</p>
								<p>At Sahara we value our people - they are our most important asset. The energy, enthusiasm and integrity of our people have opened avenues to new and existing businesses and forged a reputation for the highest standard in all that we do..</p>
								<ul class="simple">
									<li>Fair treatment and equal opportunities</li>
									<li>Personal Learning and Development</li>
									<li>Health and safety</li>
									<li>Health and safety</li>
									<li>Confidentiality of employee information</li>

								</ul>
							</div>
							<div class="col-md-3 top-line">
								<h4>Our<br />Society</h4>
								<p class="highlight">At Sahara, our sustainable long-term success is based on the highest integrity of our people in business relationships over the years,</p>
								<p> providing best practice in the development of our conduct, provision of a safe and secure working environment and treating every employee with fairness and respect. We have also ensured that we manage our impact on the environment and communities we operate in, and set appropriate and consistent standards for dealing with service providers and suppliers..</p>
								<ul class="simple">
									<li>Personal and corporate social responsibility</li>
									<li>Community relationship</li>
									<li>Human rights</li>

								</ul>
							</div>
							<div class="col-md-3 top-line">
								<h4>Our<br />Conduct</h4>
								<p class="highlight">We Owe Ourselves The best Conduct.</p>
								<p>At Sahara, we strongly uphold our corporate values and passionately conduct our business in a highly ethical manner that promotes free enterprise, excellence and competitiveness..</p>
								<ul class="simple">
									<li>Corporate communication</li>
									<li>Conflict of interest</li>
									<li>Gifts and hospitality</li>
									<li>Dealing with Government</li>
									<li>Anti-Corruption and Anti-Bribery</li>
									<li>Protection and use of Company Assets, Resources and Information</li>
									<li>Whistle Blowing</li>

								</ul>
							</div>
							<div class="col-md-3 top-line">
								<h4>Our <br />Environment</h4>
								<p class="highlight">Sercuring The Future Of Mother Nature</p>
								<p>At Sahara, our sustainable long-term success is based on the highest integrity of our people in business relationships over the years, providing best practice in the development of our conduct, provision of a safe and secure working environment and treating every employee with fairness and respect. We have also ensured that we manage our impact on the environment and communities we operate in, and set appropriate and consistent standards for dealing with service providers and suppliers.</p>
								<ul class="simple">
									<li>Quality Health Safety Security and Environment (QHSSE)</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
    <section id="skills">
  			<div class="view">
  				<img alt class="bg" src="images/bg/stocksnap/219FB68281.jpg" /><img alt class="bg" src="images/bg/stocksnap/219FB68281.jpg" />
  				<div class="content colors-e">
  					<div class="container">
  						<h2>Take A  <span class="highlight">Peek</span></h2>


  						<div class="row">
  							       <div class=" embed-responsive embed-responsive-16by9">
                         <iframe src="https://player.vimeo.com/video/135846940", class="embed-responsive-item" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                       </div>
  								</div>
  							</div>
  						</div>
  					</div>

  		</section>
