
<div class="page-border bottom colors-e background-solid"><a href="#top" class="hover-effect">To <span class="highlight">Top</span></a></div>
<div class="page-border left colors-e background-solid">
  <ul>
    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
    <li><a href="http://www.skype.com/" target="_blank"><i class="fa fa-skype"></i></a></li>
  </ul>
</div>
<!-- BEGIN: Top menu -->
<div class="page-border right colors-e background-solid"></div>
<nav class="navbar navbar-default navbar-fixed-top page-transition colors-e background-solid" role="navigation" id="top-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="menu-toggle ext-nav-toggle visible-xs-block" data-target=".ext-nav" href="#"><span></span></a>
      <a class="menu-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" href="#"><span></span></a>
      <a class="navbar-brand" href="#">SAHARA<span class="highlight">GROUP</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a href="#"> Welcome <%= current_user.name %></a></li>
        <li><%= link_to "Dashboard", users_path, class: "hover-effect" %></li>
        <li><%= link_to "Log Out!!", destroy_user_session_path, :method => :delete, :class =>"hover-effect"  %>

          <%else %>
          <li><a href="" class="hover-effect">Home</a></li>
          <li><a href="#about" class="hover-effect">About</a></li>
          <li><a href="#team" class="hover-effect">Project And Values</a></li>
          <li><%= link_to "Our Buisnessess", projects_path, class: "hover-effect" %></li>


          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END: Top menu -->
