<!-- Main -->

  <div class="view">
  <div class="content no-bottom-padding colors-e">
      <div class="container">
        <h2>Our <span class="highlight">Work</span></h2>
        <p class="header-details"><span class="highlight">Some Recent</span> Projects</p>
        <p class="lead">Sahara Group is a leading privately owned Power, Energy, Gas and Infrastructure Conglomerate established in 1996 with operating companies active in the downstream, midstream, upstream, infrastructure and power sectors. Sahara has presence in different locations including Africa, The Caribbean, Asia and Europe..</p>
      </div>
    </div>
  </div>
<main class="main-container">
    <div class="container">
        <div class="row">

            <div class="projects-list">
              <% @projects.each do |project| %>
                <div class="col-sm-4 col-xs-12 project">
                    <%= link_to project do %>
                        <div class="project-image-wrapper">
                            <div class="project-image" style="height:220px;">
                                <%= image_tag (project.image_url.to_s) %>
                                <div class="information">
                                    <h3 class="title"><%= project.title %></h3>

                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <% end %>
              </div>



        </div>
    </div>
</main>
